<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>399174311134-m8gerga7mlmf4fmse9shqklgdq4fd2ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399174311134-m8gerga7mlmf4fmse9shqklgdq4fd2ab</string>
	<key>API_KEY</key>
	<string>AIzaSyDfj9UMG_TALtbd1GMZiWsizytmVnnDqVE</string>
	<key>GCM_SENDER_ID</key>
	<string>399174311134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.casio.Calculator-Pro</string>
	<key>PROJECT_ID</key>
	<string>calculator-pro-57c6d</string>
	<key>STORAGE_BUCKET</key>
	<string>calculator-pro-57c6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:399174311134:ios:770b45e7614a9c81</string>
	<key>DATABASE_URL</key>
	<string>https://calculator-pro-57c6d.firebaseio.com</string>
</dict>
</plist>